/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
/* --------------------- wrapper ---------------------  */
#wrapper {
    display: flex;
    height: calc(100vh - 80px);
}
.white {
    color: #fff;
}
.grey {
    color: rgb(155, 155, 155);
}
/* ---------------------------------------  side block ---------------------------------------  */
#logo {
    height: 40px;
    width: 70%;
    margin-bottom: 25px;
}
#logo-small{
    display: none;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}
nav h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
nav li {
    color: rgb(155, 155, 155);
}
#wrapper nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    height: 100%;
    width: 200px;
    background-color: rgb(0, 0, 0);
}
.menu {
    display: flex;
    align-items: center;
}
.menu-option {
    margin-bottom: 4px;
    height: 26px;
    width: 30px;
    filter: brightness(60%);
}
.menu-text {
    padding-left: 4px;
    color: rgb(155, 155, 155);
    font-size: 13px;
}
#create-playlist {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 34px;
    background-color: rgb(76, 76, 75);
}
#install {
    margin-top: 2px;
    height: 17px;
    width: 30px;
    filter: brightness(60%);
}
#install-text {
    color: rgb(155, 155, 155);
    font-size: 10px;
}
#profile {
    margin-bottom: 4px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: rgb(184, 184, 184);
}
#profile-text {
    padding-left: 5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
#wrapper li {
    padding-top: 10px;
    padding-bottom: 3px;
    list-style: none;
    font-size: 10px;
}
#nav-bottom {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.space {
    border: 1px solid;
    border-radius: 50px;
    border-color: rgb(76, 76, 75);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
}
/* ---------------------------------------  main-block ---------------------------------------  */


#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 200px);
    background-color: rgb(39, 43, 53);
}
#main-top {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    background-color: rgb(24, 24, 36);
}
#upgrade {
    margin-top: 15px;
    margin-right: 10px;
    padding-top: 13px;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 1px solid;
    border-radius: 30px;
    border-color: rgb(155, 155, 155);
    background-color: rgb(24, 24, 36);
    color: rgb(155, 155, 155);
}
#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    font-size: 10px;
}
.category {
    line-height: 40px;
    color: rgb(164, 164, 164);
}
.main-titles {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 35px;
}
main h1 {
    color:  #fff;
}
main h4 {
    color: #fff;
    font-size: 13px;
}
main p{
    font-size: 10px;
    color: rgb(164, 164, 164);
}
.songs-list {
    display: flex;
}
.songs {
    margin: 10px;
    width: 15%;
    text-align: center;
}
.songs img{
    width:  100%;
}
.circle {
    border-radius: 100%;
}
/* ---------------------------------------- player/controller ---------------------------------------- */
#player {
    height: 80px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  player left */
#player-left {
    display: flex;
    align-items: center;
    width: 30%;
}
#song-name {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    font-size: 12px;
}
#song-option {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    gap: 4px;
}

/* player center */

#player-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
}
.icons-mid {
    margin: 4px;
    height: 30px;
    width: 10%;
    color: #fff;
    font-size: 18px;
    padding-top: 13px;
}
.icons-big {
    margin: 4px;
    height: 30px;
    width: 15%;
    color: #fff;
    font-size: 22px;

}
#song-player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
#song-lenth {
    border: 2px solid;
    border-color: rgb(76, 76, 75);
    border-radius: 50px;
    margin: 10px;
    width: 70%;
}
.song-time {
    color: #fff;
    font-size: 10px;
    width: 6;
}
#song {
    position: relative;
    bottom: 19px;
    right: 25%;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 5px;
    width: 20%;
}

/* player-right */

#player-right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
}
.icons-small{
    margin: 5px;
    color: #fff;
    font-size: 10px;
}
.player-img {
    margin-left: 5px;
    height: 45px;
    width: 45px;
}
.player-text {
    padding-left: 4px;
    font-size: 13px;
}
#volume-bar {
    border: 2px solid;
    border-color: rgb(76, 76, 75);
    border-radius: 50px;
    margin: 5px;
    width: 72px;
}
#volume {
    position: relative;
    right: 90px;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 5px;
    width: 25px;
}








/* versione tablet */
@media screen and (max-width: 768px) {
    .songs {
        width: 20%;
        margin: 5px;
    }
    .songs-list {
        flex-wrap: wrap;
    }
    #song-lenth {
        width: 65%;
    } 
    #volume {
        right: 45%;
    }
}




/* versione mobile */
@media screen and (max-width: 480px) {
    .songs {
        width: 46%;
        margin: 6px;
    }
    #wrapper nav {
        width: 45px;
    }
    .disappear {
        display: none;
    }
    #wrapper main {
        width: calc(100% - 45px);
    }
    #logo {
        display: none;
    }
    #logo-small {
        display: block;
    }
    #song-lenth {
        width: 50%;
        margin: 14px;
    }
    #song {
        width: 10%;
        right: 35px;
        bottom: 23px;
    }
    #volume {
        right: 38%;
    }
}
