/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
/* ---------------------------------------- wrapper---------------------------------------- */
#wrapper {
    display: flex;
    height: calc(100vh - 150px);

}
/* ------------------ side block ------------------ */
#logo {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(76, 76, 75);

}
#wrapper nav {
    padding: 10px;
    width: 200px;
    height: 100%;
    /* debug */
    background-color: grey;
}
#menu {
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.menu-options {
    margin-top: 5px;
    height: 40px;
    width: 100%;
    background-color: rgb(76, 76, 75);
}
#create-playlist {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    background-color: rgb(76, 76, 75);
}
#wrapper li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}
/* ------------------ main-block ------------------ */


#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 200px);
    /* debug */
    line-height: 40px;
    background-color: rgb(18, 95, 163);
}
#main-top {
    display: flex;
    flex-direction: row-reverse;
    /* debug */
    height: 80px;
    background-color: rgb(95, 95, 95);
}
#upgrade {
    border: 1px solid;
    background-color: rgb(167, 167, 167);
    margin-top: 15px;
    padding-top: 4px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}
#categories {
    display: flex;
    justify-content: center;
    gap: 3%;
    font-size: 10px;  
}
.main-titles {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
main p{
    font-size: 15px;
    color: rgb(164, 164, 164);
}
#recently-played {
    display: flex;
    flex-wrap: wrap;
}
.latest-songs {
    margin: 10px;
    /* debug */
    height: 170px;
    width: 170px;
    background-color: rgb(55, 55, 55);
}
#mixes {
    display: flex;
    flex-wrap: wrap;
}
.mix {
    margin: 10px;
    /* debug */
    height: 170px;
    width: 170px;
    background-color: rgb(55, 55, 55);
}
#popular-artist {
    display: flex;
    flex-wrap: wrap;
}
.popular {
    margin: 10px;
    /* debug */
    height: 170px;
    width: 170px;
    background-color: rgb(55, 55, 55);
    border-radius: 100%;
}
/* ---------------------------------------- player/controller ---------------------------------------- */
#player {
    height: 150px;
    /* debug */
    background-color: rgb(63, 63, 63);
}











/* versione mobile */
@media screen and (max-width:480px)